{
  "mcpServers": {
    "cutover-mcp": {
      "command": "/Users/YOUR-USER-NAME/code/cutover-mcp/.venv/bin/python",
      "args": ["/Users/YOUR-USER-NAME/code/cutover-mcp/src/cutover_mcp/server.py"],
      "cwd": ""
    }
  }
}
